/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/* .navigation {
  background-color: #3778c2;
  height: 60px;
  width: 100%;
} */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.sp-h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 15%;
}

.sp-p-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #4a4a4a;
  margin-top: -2%;
}

.sp-container-2 {
  .sp-btn-0 {
    width: 170px;
    height: 38px;
    background-color: #3778c2;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #F1F1F1;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    &:hover {
      background-color: #3735c4;
      color: white;
    }
  }

  .sp-reg-btns {
    display: flex;
    flex-direction: row;

    .sp-sign-in {
      .sp-bt-1 {
        width: 100px;
        height: 30px;
        border: none;
        margin: 0 3px;
        background-color: #3778c2;
        border-radius: 5px;
        font-size: 16px;
        color: #f1f1f1;
        font-family: 'Rubik', sans-serif;
        cursor: pointer;
        &:hover {
          background-color: #3735c4;
          color: white;
        }
      }
    }

    .sp-sign-up {
      .sp-bt-2 {
        width: 100px;
        height: 30px;
        border: none;
        margin: 0 3px;
        background-color: #3778c2;
        border-radius: 5px;
        font-size: 16px;
        color: #f1f1f1;
        font-family: 'Rubik', sans-serif;
        cursor: pointer;
        &:hover {
          background-color: #3735c4;
          color: white;
        }
      }
    }
  }
}